<section id="uploadImmagine">
	   <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Carica un'immagine</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
					<form action="uploadImmagine" method="POST" enctype="multipart/form-data">
					        <#if opere?size > 0>
								<select name=opera value="">
								<#list opere as opera>
									<option value=${opera.id}>${opera.titolo} - ${opera.editore}</option>
								</#list>
								</select>
							</#if>	
					        Scegli file:
					        <input type="file" name="fileToUpload" id="fileToUpload">
					        <input type="submit" value="Upload Image" name="submit">
					</form>
				</div>
			</div>
		</div>
</section>
<#include ricerca.ftl.html>
<#include listaopere.ftl.html>

