
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" onclick="scelta_sezione();" href="#page-top"><img src="template/img/univaq.jpg"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   	<li class="page-scroll">
                       	<a href="#listaopere" onclick="scelta_sezione(1);">Opere</a>
                   	</li>
                    <li class="page-scroll">
                        <a href="#opereInPubblicazioneAcquisizione" onclick="scelta_sezione(2);">Opere da pubblicare</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#utenti" onclick="scelta_sezione(4);">Utenti</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#inserisciOpera" onclick="scelta_sezione(7);">Inserisci Opera</a>
                    </li>      
                </ul>
                
                <form style="margin-top: 10px;" action="Logout" class="form-inline">
                	<div class="form-group">
                	<label class="label-nav"><a class="navBarLabel" onclick="scelta_sezione();" href="#">Ciao ${nomeutente!"UTENTE"}</a></label>
                	</div>
                	<input class="btn btn-success" type="submit" value="Logout" />
                </form>

            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</nav>

<section id="admindefault">
		<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                	<#if messaggio??>
		<div>
			${messaggio?html}
		</div>
</#if>
                    <hr class="star-primary">
                    <h2>Benvenuto utente admin</h2><br>
                    <h3>Seleziona l'azione da fare nel menù in alto</h3>
                    <hr class="star-primary">
            	</div>
        	</div>
        </div>
</section>
<section id="listaopere">
	<br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                	<hr class="star-primary">
                    <h2>LISTA DELLE OPERE</h2>
                    <hr class="star-primary">
                </div>
        </div>
    <p>
    <span id="paging">
      <span class="pagerCurrent">1</span>
      <a class="pagerLink" href="?page=2">2</a>
      <a class="pagerLink" href="?page=3">3</a>
      <a class="pagerLink" href="?page=4">4</a>
      <a class="pagerLink" href="?page=5">5</a>
    </span></p>
    
			   <div class="list-group">
                    
                        <table id=tableopere class="table ">
							  <thead>
							    <tr class="tabella">
							      <th>#</th>
							      <th>ID</th>
							      <th>Titolo opera</th>
							      <th>Descrizione</th>
							      <th>Numero pagine</th>
							      <th>Editore</th>
							      <th>Anno</th>
							      <th>Visualizza Opera</th>
							      <th>Rimuovi</th>
							    </tr>
							  </thead>
							  <tbody>
								  	
							  </tbody>
							</table>
  					
                   
                </div>
        </div>
</section>

<section id="pagine_opera">
	<br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>PAGINE DELL'OPERA :</h2>
                    <h3 id="titoloListaPagineOpera"></h3>
                    <hr class="star-primary">
                </div>
        </div>
    <p>
    <span id="paging3">
      <span class="pagerCurrent">1</span>
      <a class="pagerLink" href="?page=2">2</a>
      <a class="pagerLink" href="?page=3">3</a>
      <a class="pagerLink" href="?page=4">4</a>
      <a class="pagerLink" href="?page=5">5</a>
    </span></p>
    
			   <div class="list-group">
                    
                        <table id="listapagine" class="table ">
							  <thead>
							    <tr class="tabella">
							      <th>#</th>
							      <th>ID</th>
							      <th>Numero pagina</th>
							      <th>Immagine validata</th>
							      <th>Rimuovi</th>
							    </tr>
							  </thead>
							  <tbody>
								  	
							  </tbody>
							</table>
  					
                   
                </div>
        </div>
</section>

<section id="opereInPubblicazioneAcquisizione">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>OPERE IN PUBBLICAZIONE</h2>
                    <h3>ACQUISIZIONE</h3>
                    <hr class="star-primary">
                </div>
            </div>
    <p>
    <span id="paging1">
      <span class="pagerCurrent">1</span>
      <a class="pagerLink" href="?page=2">2</a>
      <a class="pagerLink" href="?page=3">3</a>
      <a class="pagerLink" href="?page=4">4</a>
      <a class="pagerLink" href="?page=5">5</a>
    </span></p>
    
			   <div class="list-group">
                    
                        <table id=tableopereacquisizione class="table ">
							  <thead>
							    <tr class="tabella">
							      <th>#</th>
							      <th>ID</th>
							      <th>Titolo opera</th>
							      <th>Editore</th>
							      <th>Rimuovi</th>
							      <th>Pubblica</th>
							    </tr>
							  </thead>
							  <tbody>
								  	
							  </tbody>
							</table>
  					
                   
                </div>
       </div>
</section>
<section id="opereInPubblicazioneTrascrizione">  
        <div class="container">            	
                <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>OPERE IN PUBBLICAZIONE</h2>
                    <h3>TRASCRIZIONE</h3>
                    <hr class="star-primary">
                </div>
            </div>
    <p>
    <span id="paging2">
      <span class="pagerCurrent">1</span>
      <a class="pagerLink" href="?page=2">2</a>
      <a class="pagerLink" href="?page=3">3</a>
      <a class="pagerLink" href="?page=4">4</a>
      <a class="pagerLink" href="?page=5">5</a>
    </span></p>
    
               <div class="list-group">
                    
                        <table id=tableOpereTrascrizione class="table ">
                              <thead>
                                <tr class="tabella">
                                  <th>#</th>
                                  <th>ID</th>
                                  <th>Titolo opera</th>
                                  <th>Editore</th>
                                  <th>Rimuovi</th>
                                  <th>Pubblica</th>
                                </tr>
                              </thead>
                              <tbody>
                                    
                              </tbody>
                            </table>
                    
                   
                </div>
        </div>
</section>

<section id="utenti">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-primary">
                <h2>GESTIONE UTENTI</h2>
                <hr class="star-primary">
            </div>
        </div>
        <p>
            <span id="paging4">
              <span class="pagerCurrent">1</span>
              <a class="pagerLink" href="?page=2">2</a>
              <a class="pagerLink" href="?page=3">3</a>
              <a class="pagerLink" href="?page=4">4</a>
              <a class="pagerLink" href="?page=5">5</a>
            </span>
        </p>
    
               <div class="list-group">
                    
                        <table id=tableutenti class="table ">
                              <thead>
                                <tr class="tabella">
                                  <th>#</th>
                                  <th>ID</th>
                                  <th>Username</th>
                                  <th>Nome</th>
                                  <th>Cognome</th>
                                  <th>Email</th>
                                  <th>Ruolo</th>
                                   <th>Rimuovi</th>
                                </tr>
                              </thead>
                              <tbody>
                                    
                              </tbody>
                            </table>
                    
                   
                </div>
        <div id="gestioneRuoloUtenti" style="display:none;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-primary">
                <h3>GESTISCI RUOLO DI</h3>
                <h4  class="nessun_risultato" id="nomeUtenteRuolo"></h4>
                <hr class="star-primary">
            </div>
        </div>
               <div class="list-group">
                    
                        <table id=gestioneRuolo class="table ">
                              <thead>
                                <tr class="tabella">
                                  <th>ID ruolo</th>
                                  <th>Nome ruolo</th>
                                  <th>Descrizione ruolo</th>
                                  <th>Applica ruolo</th>
                                </tr>
                              </thead>
                              <tbody id = "bodyTableRuolo">
                              
                              </tbody>
                            </table>
                    
                   
                </div>
    	</div>
    </div>
</section> 
<section id ="inserisciOpera">

	<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                	<hr class="star-primary">
                    <h2>INSERISCI UN' OPERA</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    
                    <form id="form_ricerca" novalidate action="AggiungiOpera">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Titolo</label>
                                <input type="text" class="form-control" placeholder="Titolo" id="titolo" name="titolo">
                            </div>
                        </div>
	 					<div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Descrizione</label>
                                <input type="text" class="form-control" placeholder="Descrizione" id="descrizione" name="descrizione">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Autore</label>
                                <input type="text" class="form-control" placeholder="Autore" id="autore" name="autore">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Editore</label>
                                <input type="text" class="form-control" placeholder="Editore" id="editore" name="editore">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Numero delle pagine</label>
                                <input type="text" class="form-control" placeholder="Numero delle pagine" id="numeroPagine" name="numeroPagine">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Anno di pubblicazione</label>
                                <input type="text" class="form-control" placeholder="Anno di pubblicazione" id="annoPubblicazione" name="anno">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Lingua</label>
                                <input type="text" class="form-control" placeholder="Lingua" id="Lingua" name="lingua">
                            </div>
                        </div>
                         <br>
	                    <div class="row">
	                            <div class="form-group col-xs-12">
	                                <button onclick="scelta_sezione()" class="btn btn-success btn-lg">Inserisci</button>
	                            </div>
	                    </div>
	               </form>
                </div>
            </div>
        </div>

</section>

<#include "ricerca.ftl.html">
 
<#include "sezione_non_presente.ftl.html">


<script type="text/javascript">

		scelta_sezione();
	
</script>
