<section id="editortei">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SCRIVI LA PAGINA</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    
                    <form id="editor_tei" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Titolo</label>
                                <input type="text" class="form-control" placeholder="Titolo" id="titolo" name="titolo">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Autore</label>
                                <input type="text" class="form-control" placeholder="Autore" id="autore" name="autore">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Editore</label>
                                <input type="text" class="form-control" placeholder="Editore" id="editore" name="editore">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Anno di pubblicazione</label>
                                <input type="text" class="form-control" placeholder="Anno di pubblicazione" id="annoPubblicazione" name="anno">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Lingua</label>
                                <input type="text" class="form-control" placeholder="Lingua" id="Lingua" name="lingua">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Testo</label>
                                <textarea rows="10" cols="40" class="form-control" placeholder="Testo" id="testo" name="testo"></textarea>
                            </div>
                        </div>
                         <br>
                        <div id="success"></div>
                        <input type="hidden" name="id_della_pagina">
                    </form>
                    <div class="row">
                            <div class="form-group col-xs-12">
                                <button onclick="invia_trascrizione(this)" class="btn btn-success btn-lg">Invia</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</section>