    <section id=listaopere>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>LISTA DELLE OPERE</h2>
                    <hr class="star-primary">
                </div>
            </div>
                    <div class="list-group">
                        <#list opere as opera>
                        <table class="table ">
							  <thead>
							    <tr class="tabella">
							      <th>#</th>
							      <th>Titolo opera</th>
							      <th>Descrizione opera</th>
							    </tr>
							  </thead>
							  <tbody>
								  	<tr class="riga_tabella" data>
								      <th scope="row">1</th>
								      <td>${opera.titolo}</td>
								      <td>${opera.descrizione}</td>
								    </tr>
							  </tbody>
							</table>
  						</#list>
                        
                    </div>
        </div>
    </section>