    <section id=listaopere>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>LISTA DELLE OPERE</h2>
                    <hr class="star-primary">
                </div>
            </div>
                    <div class="list-group">
                        <#list opere as opera>
                        	<a href="#" class="list-group-item">${opera.titolo}</a>
  						</#list>
                        
                    </div>
        </div>
    </section>