
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!--<a class="navbar-brand" href="#page-top">Start Bootstrap</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                                                         
                   	<li class="page-scroll">
                       	<a href="#registrazione">Registrazione</a>
                   	</li>
                   	<li class="page-scroll">
                        <a href="#ricerca">Ricerca</a>
                    </li>  
                </ul>
                <form action="Login" class="form-inline">
                			<#if errore_login?? && errore_login>
                			<label class="label-nav">credenziali non valide</label>
                			</#if>
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" />
                            </div>
                                <input class="btn btn-success" type="submit" value="Login" />
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</nav>
<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="template/img/univaq.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">UNIVAQ</span>
                        <hr class="star-light">
                        <span class="skills">BIBLIOTECA DIGITALE</span>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </header>


<#include "registrazione.ftl.html">
<#include "ricerca.ftl.html">
<#include "listaopere.ftl.html">
