<section id="openseadragon">
    
	<div class="container">
		<div class="row">
	                <div class="col-lg-16 text-center">
	                    <hr class="star-primary">
	                    <h2 >SCRIVI LA PAGINA</h2>
	                    <h3>Trascrivi la pagina n.<div id="numeroPaginaDaTrascrivere"></div></h3>
	                    <hr class="star-primary">
	                </div>
	     </div>
	     <div class="row">
		     <div class="tab-pane" id="tab2">
			     <center>
			        <a style="width: 80px;" onclick="previous()" class="btn btn-primary btnPrevious" >Previous</a>
			        <input onclick="scegliPagina()" id="inserimentoNumeroPagina" type="text" size="3" >
			        <a style="width: 80px;" onclick="next()" class="btn btn-primary btnNext" >Next</a>
			    </center>
		    </div>
	    </div>
	    <div id=viewer_img>
		
		</div>
        <div class="openseadragon1" style="border:none;">
            <form id="editor_tei" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group ">
                        <label>Testo</label>
                        <textarea rows="15" cols="40" class="form-control" placeholder="Testo" id="testoTrascrizione" name="testo"></textarea>
                    </div>
                </div>
                 <br>
                <input type="hidden" name="id_della_pagina">
            </form>
            <#if trascrittore?? && trascrittore>
        		<div class="row">
                    <div class="form-group col-xs-12">
                        <button onclick="invia_trascrizione()" class="btn btn-success btn-lg">Invia</button>
                    </div>
            	</div>
        	<#elseif revisore_trascrizioni?? && revisore_trascrizioni >
        		<div class="row">
	        		<center> 
						<button id="buttonConvalida" onclick="convalidaLaPagina()" class="btn btn-primary btn-lg">Convalida</button>
						<button id="buttonRimuovi" onclick="nonConvalidarePagina()" class="btn btn-danger btn-lg">Rimuovi</button>
					</center>
				</div>
        	</#if>
        </div>   
     </div>

</section>
