<!DOCTYPE html>
<html lang="it">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UNIVAQ</title>

    <!-- Bootstrap Core CSS -->
    <link href="template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="template/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

   

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!--<a class="navbar-brand" href="#page-top">Start Bootstrap</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#ricerca">Ricerca</a>
                    </li>                    
                    <#if loggato??>
                    	<#if acquisitore?? && acquisitore>
                    		<li class="page-scroll">
                        		<a href="#uploadImmagine">Upload Immagine</a>
                    		</li>
                    	</#if>
                    <#else>
                    	<li class="page-scroll">
                        	<a href="#registrazione">Registrazione</a>
                    	</li>
                    </#if>
                </ul>
                <#if loggato??>
                <form action="Logout" class="form-inline">
                	<div class="form-group">
                	<label>Ciao ${nomeutente!"PICCHIO"}</label>
                	</div>
                	<input class="btn btn-success" type="submit" value="Logout" />
                </form>
                <#else>
                <form action="Login" class="form-inline">
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" />
                            </div>
                                <input class="btn btn-success" type="submit" value="Login" />
                </form>
                </#if>

            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="template/img/univaq.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">UNIVAQ</span>
                        <hr class="star-light">
                        <span class="skills">BIBLIOTECH</span>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Include sezione ricerca -->   
    <#include ricerca_tpl>
    
    <#if loggato??>
    	<#if acquisitore?? && acquisitore>
    		<#include upload_immagine>
    	</#if>
    <#else>
<!-- Include sezione registrazione -->
    <#include registrazione_tpl>
    </#if>

    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    

    <!-- jQuery -->
    <script src="template/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="template/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="template/js/jqBootstrapValidation.js"></script>
    <script src="template/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="template/js/freelancer.min.js"></script>
     <script type="text/javascript">
        
        function controllausername(obj){
            //$("#username").keypress(function(){
            $.ajax({
            url: 'Registrazione',
            type: 'GET',
            data: 'usernameAjax='+obj.value,
                success: function(data) {
                            if (eval(data.risultato)){
                                console.log("0");
                                document.getElementById("usernamecheck").innerHTML ="<div id=\"status\"><span style=\"top:20px\" class=\"glyphicon glyphicon-remove form-control-feedback\" aria-hidden=\"true\"></span><span id=\"inputError2Status\" class=\"sr-only\">(error)</span></div>";
                                
                            }
                            
                            else {
                                console.log("2");
                                $("#status").remove();
                                document.getElementById("usernamecheck").innerHTML ="<div id=\"status\"><span style=\"top:20px\" class=\"glyphicon glyphicon-ok form-control-feedback\" aria-hidden=\"true\"></span><span id=\"inputSuccess2Status\" class=\"sr-only\">(success)</span></div>";
                                
                            }
                }
            });
            };
    </script>
</body>

</html>
