<section id="erroreRicerca" >
	<div id="error" class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    <h2 id="titoloSezioneErrore"></h2>
	                    <hr class="star-primary">
	                </div>
	            </div>
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <h3 class="nessun_risultato">CI DISPIACE, NON CI SONO RISULTATI PER QUESTA SEZIONE</h3>
		            </div>
		        </div>
		        <div style="display:none;" id="error2" class="row">
	                <div class="col-lg-12 text-center">
	                    <h2 id="titoloSezioneErrore2"></h2>
	                    <hr class="star-primary">
	                </div>
	            </div>
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <h3 class="nessun_risultato">CI DISPIACE, NON CI SONO RISULTATI PER QUESTA SEZIONE</h3>
		            </div>
		        </div>
	</div>
</section>