<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="Home"><img src="template/img/univaq.jpg"/></a>
                <!--<a class="navbar-brand" href="#page-top">Start Bootstrap</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="ul_navbar" class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#ricerca">Ricerca</a>
                    </li>   
                </ul>
                
                <form style="margin-top: 10px;" action="Logout" class="form-inline">
                	<div class="form-group">
                	<label class="label-nav"><a class="navBarLabel"  href="Home">Ciao ${nomeutente!"UTENTE"}</a></label>
                	</div>
                	<input class="btn btn-success" type="submit" value="Logout" />
                </form>

            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<#include "ricerca.ftl.html">
<#include "listaopere.ftl.html">
<#include "visualizza_opera.ftl.html">