<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Errore</title>
        <link rel="stylesheet" href="style/default.css" type="text/css"/>
    </head>
    <body>
        <div class="body">
        <div><a href="issues">Vai alla homepage</a></div>
        <h1>Errore</h1>
        <p>Il sistema ha incontrato il seguente errore mentre processava la vostra richiesta:</p>
        <p><b>${error!"Unknown error"?html}</b></p>
        </div>
    </body>
</html>